* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
}

header{
    position: fixed;
    left: -100px;
    z-index: 997;
    top: 0;
}
#clock {
    left: 0%;
    top: 0px;
    position: absolute;
    z-index: 998;
}




 .button img{
        position: fixed;
        top: 0;
        right: 3%;
        z-index: 999;
        
     }

    .button:hover {
            position: fixed;
            top: 0;
            right: 7%;
            z-index: 999;
            display:none;
        }
    .button2 img{
            position: fixed;
            top: 0;
            right: 3%;
            z-index: 998;
    }

.coin img {
    position: absolute;
    z-index: 999;
    height: 100px;
    left: 10px;
    top: 10px;
}






body {
    
    margin: 0;
    padding: 5;
    min-height: 2000px;
    
    
   
    font-family: Arial, Helvetica, sans-serif;







#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
.fishbox {
    position: relative;
    width: clamp(100px , 90vw, 1000px);
    background-color: lightblue;
    top: 52.5px;
    
    height: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow-x: auto;
    flex-shrink: 0;
    
}
.fishbox::-webkit-scrollbar {
    display: none;
}
.fishtank {
    flex-shrink: 0;
    position: relative;
    top: 52.5px;
    width: 1000px;
    height: 200px;
    overflow-x: clip;
    
    
     
}



#eventwrapper {
    height: 375px;
    width: clamp(100px , 90vw, 1000px);
    position: relative;
    background-color: aqua;
    padding: 10px;
    top: 60px;
    border: 8px solid blue;
    background-image: url('woodtest.png');
            background-repeat: repeat;
    display: flex;
    overflow-x: scroll;
}
    
        .eventcontainer {
            
            height:100%;
            width: 100%;;
            color: black;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 3px;
            gap: 7px;
            animation: spin 40s infinite linear;
        }
              .eventcards {
            
             flex-shrink:0;
              height: 100%;
             width: 230px;
           
             background-color: lightgreen;
            }    
        
                .eventcardsspacer {
                    flex-shrink:0;
                    height: 100%;
                    width: 10px;
                    background-color: transparent;
                }

    #linkcontainer {
        height: 100px;
        width: clamp(100px , 90vw, 1000px);
        position: relative;
        background-color: aqua;
        padding: 10px;
        top: 80px;
        border: 8px solid blue;
        background-image: url('woodtest.png');
                background-repeat: repeat;
    }          







    #border {
        height: 140px;
        width: clamp(100px , 90vw, 1000px);
        position: relative;
        
        top: 80px;
        display: flex;
        justify-content:center;
        
    }
    
        .eye {
            z-index: 9;
            display: flex;
            justify-content: center;
            height: 112px;
            width: 86%;
            
            overflow-x: hidden;
        }
            #ball {

                z-index: 99;
                height: 60px;
                width: 60px;
                position: absolute;
            }
        
    #exhibit {
        display: flex;
        flex-shrink: 1;
        justify-content: center;
        width: clamp(100px , 90vw, 1000px);
        position: relative;
        background-color: aqua;
        padding: 10px;
        top: 140px;
        border: 8px solid blue;
        background-image: url('woodtest.png');
                background-repeat: repeat;
    }

    #border2 {
        height: 140px;
        width: clamp(100px , 90vw, 1000px);
        position: relative;
        
        top: 199px;
        display: flex;
        justify-content:center;
        align-items: flex-end;
        
        
        
    }
    
        .eye2 {
            z-index: 9;
            display: flex;
            justify-content: center;
            height: 112px;
            width: 86%;
            
            overflow-x: hidden;
        }
            #ball {

                z-index: 99;
                height: 60px;
                width: 60px;
                position: absolute;
            }
            .eyeright2 {
                
                
                display: flex;
                justify-content: center;
            }
            .eyeleft2 {
                
                
                display: flex;
                justify-content: center;
            }
    .section {
     height: 900px;
     width: clamp(100px , 90vw, 1000px);
     padding: 10px;
     border: 8px solid rgb(0, 0, 0);
     background-image: url('woodtest.png');
     background-repeat: repeat;
     position: relative;
     top: 200px;
     gap: 10px;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: start;
    
     
    
        .bigbox {
        max-width: 335px;    
        max-height: 335px;
         background-color: tan;
         padding: 10px;
         box-shadow: 1px 10px 30px 5px rgb(10, 30, 24);
         z-index: 996;
         
         
        
        }
        .bigbox2 {
            z-index: 996;
        box-shadow: 1px 10px 30px 5px rgb(10, 30, 24);
        height:clamp(335px, 100px, 100px);
        width: clamp(600px, 60vw, 10vw);
         background-color: tan;
         display: flex;
         flex-wrap: 0;
         flex-shrink: 1;
         padding: 10px;
         gap: 10px;
            .p {
                font-family: vcr;
                text-wrap-mode:wrap;
                
                color: rgb(5, 87, 46);
                font-size: clamp(12.2px, 1px + 2vw, 19px);
            }

    }}}}
            
                








