* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
}

header{
    position: fixed;
    left: -100px;
    z-index: 997;
    top: 0;
}
#clock {
    left: 0%;
    top: 0px;
    position: absolute;
    z-index: 998;
}




 .button img{
        position: fixed;
        top: 0;
        right: 3%;
        z-index: 999;
        
     }

    .button:hover {
            position: fixed;
            top: 0;
            right: 7%;
            z-index: 999;
            display:none;
        }
    .button2 img{
            position: fixed;
            top: 0;
            right: 3%;
            z-index: 998;
    }

.coin img {
    position: absolute;
    z-index: 999;
    height: 100px;
    left: 10px;
    top: 10px;
}
.fishboxbox {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: olive   solid 10px;
    top: 70px;
    
    
}
.masker {
    background-color: blue;
    width: 100px;
    height: 200px;
    -webkit-mask: mask-image: url(fishtank.png);
}

.fishbox {
    position: relative;
    width: clamp(100px , 90vw, 1000px);
    background-color: lightblue;
    top: 52.5px;
    
    height: 200px;
    display: flex;
    justify-content: center;
    
    
    
}

.fishtank img {
    position: relative;
    top: 52.5px;
    width: 1000px;
    height: 200px;
   
    object-fit: cover
    
     
}
.masker2 {
    background-color: blue;
    width: 100px;
    height: 200px;
}

body {
    
    margin: 0;
    padding: 5;
    min-height: 2000px;
    
    
   
    font-family: Arial, Helvetica, sans-serif;

#container {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;

 
    .section {
     height: 900px;
     width: clamp(100px , 90vw, 1000px);
     padding: 10px;
     border: 8px solid blue;
     background-color: blanchedalmond;
     position: relative;
     top: 700px;
     gap: 10px;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: start;
    
     
    
        .bigbox {
        flex-grow: 6;
        max-width: 400px;
        height: 300px;
        width: 300px;
         background-color: tan;
         padding: 10px;
         
        
        }
        .bigbox2 {
        flex-grow: 1;
        height:clamp(300px, 100px, 100px);
        width: clamp(300px, 60vw, 10vw);
         background-color: tan;
         display: flex;
         flex-wrap: 0;
         flex-shrink: 1;
         padding: 10px;
         gap: 10px;
            .p {
                font-family: vcr;
                text-wrap-mode:wrap;
                
                color: rgb(5, 87, 46);
                font-size: clamp(12.2px, 1px + 2vw, 19px);
            }

    }}}}
            
                

